*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
:root{
    --border-radius: 5px;
}
body{
    display: flex;
    justify-content: center;
    margin: 0; 
    background-color: gainsboro;
}
.calculator{
    margin:  100px 20px;
    padding: 10px;
    width: 100vh;
    min-width: 400px;
    background-color: dimgray;
    border-radius: var(--border-radius);
    border: 1px solid black;
}
.calculator h1{
    margin: 5px 0px;
    text-align: center;
    background-color: aliceblue;
    text-transform: uppercase;
}
.calculator h1 span img{
    margin: auto;
    height: 25px;
}
#display-container{
    background-color: rgb(178, 206, 231);
    height: 70px;
    border-radius: var(--border-radius);
    text-align: right;
    color: brown;
    overflow: hidden;
    padding: 20px 20px;
}
#display{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 2rem;
}
.buttons{
    margin: 5px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 4px;
    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p"
    "zero zero q r";
}
.button{
    transition: 0.3s;
    background-color: darkcyan;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: var(--border-radius);
    font-weight: 700;
}
.zero{
    grid-area: zero;
}
.ac{
    background-color: brown;
    color: aliceblue;
}
.sign{
    background-color: orangered;
}
.operator{
    background-color: orange;
    font-size: 2rem;
}
.button:hover{
    background-color:coral;
}